@media screen and (min-width: 1500px) and (max-width: 1600px) {
    // team section
    .team-section {
        color: #212121;
        font-weight: 700;
        line-height: 1.14;
    }
    .team-conteiner {
        max-width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 94px;
        padding-bottom: 94px;
        margin: 0 auto 94px auto;

        background-color: #f4f4f8;
    }
    .team-header {
        margin-bottom: 30px;

        font-size: 28px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: none;
    }
    .absolute.desine-desisions {
        top: 343px;
        left: 600px;
        width: auto;
    }
}