@media screen and (min-width: 1500px) and (max-width: 1600px) {
    // portfolio page sections
    .portfolio-section {
        color: #212121;
        font-weight: 700;
        line-height: 1.14;
    }
    .portfolio-conteiner {
        max-width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto 34px auto;
    }
    .portfolio-conteiner.customize {
        margin-bottom: 94px;
    }
    .portfolio-header {
        margin-bottom: 30px;

        font-size: 28px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: none;
    }
}