html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, ul, p {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

ul {
  list-style: none;
}

@media screen and (min-width: 280px) and (max-width: 480px) {
  .header-conteiner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto 0 auto;
    max-width: 480px;
    height: auto;
    padding: 10px 15px;
    border-bottom: 1px solid #ECECEC;
  }
  .header-conteiner.portfolio-page {
    margin-bottom: 60px;
  }
}

.logo {
  display: block;
  margin-right: calc(100% - 204px);
  color: #2196F3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo .header-logo {
  color: #212121;
}

.logo.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-logo .logo {
  color: #ffffff;
}

@media screen and (min-width: 280px) and (max-width: 480px) {
  .menu-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    padding: 40px 40px;
    border-radius: 4px;
    background-color: #FFFFFF;
    opacity: 0;
    pointer-events: none;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-modal.is-open {
    opacity: 1;
  }
  .menu-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .icon-menu {
    max-width: 24px;
    max-height: 16px;
    fill: #000000;
  }
  .cross-icon {
    width: 19px;
    height: 19px;
  }
  .menu-button .cross-icon {
    display: none;
  }
  .menu-button.is-open .cross-icon {
    display: block;
  }
  .menu-button.is-open .menu-icon {
    display: none;
  }
  .nav, .nav-link {
    color: #212121;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .item {
    position: relative;
  }
  .item:hover .nav-link,
  .item:focus .nav-link,
  .item:hover .icon,
  .item:focus .icon {
    fill: #2196F3;
    color: #2196F3;
  }
  .nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 31px;
  }
  .nav-link.current {
    color: #2196F3;
  }
  .decor::before {
    position: absolute;
    top: 76px;
    left: 0;
    content: '';
    width: calc(100% - 2px);
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
    opacity: 0;
  }
  .current .decor::before {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */