html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, ul, p {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

ul {
  list-style: none;
}

@media screen and (min-width: 280px) and (max-width: 480px) {
  .header-conteiner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 480px;
    height: auto;
    padding: 10px 15px;
    border-bottom: 1px solid #ECECEC;
    margin: 0 auto 0 auto;
  }
  .header-conteiner.portfolio-page {
    margin-bottom: 60px;
  }
}

.logo {
  display: block;
  color: #2196F3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (min-width: 280px) and (max-width: 480px) {
  .logo {
    margin-right: calc(100% - 204px);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

.logo .header-logo {
  color: #212121;
}

.footer-logo {
  margin-bottom: 20px;
  color: #2196F3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (min-width: 280px) and (max-width: 480px) {
  .footer-logo {
    display: block;
    text-align: center;
    margin-right: 0;
  }
}

.footer-logo .white {
  color: #ffffff;
}

@media screen and (min-width: 280px) and (max-width: 480px) {
  .menu-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 4px;
  margin: 0 0;
  background-color: #2196F3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 280px) and (max-width: 480px) {
  .icon-menu {
    max-width: 24px;
    max-height: 16px;
    fill: #000000;
  }
  .cross-icon {
    width: 19px;
    height: 19px;
  }
  .menu-button .icon-menu {
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-button:hover .icon-menu,
  .menu-button:focus .icon-menu {
    fill: #2196F3;
  }
  .menu-button .cross-icon {
    display: none;
  }
  .menu-button.is-open .cross-icon {
    display: block;
  }
  .menu-button.is-open .menu-icon {
    display: none;
  }
  .menu-modal {
    position: absolute;
    top: 394%;
    left: 50%;
    width: 100%;
    padding: 60px 0;
    border-radius: 0;
    background-color: #ffffff;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  .menu-modal.is-open {
    opacity: 1;
    pointer-events: all;
  }
  .contact .icon {
    width: 16px;
    height: 11px;
    margin-right: 10px;
    fill: #AFB1B8;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-phone.icon {
    width: 10px;
    height: 15px;
  }
  .nav {
    margin-bottom: 60px;
  }
  .nav, .nav-link {
    color: #212121;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #757575;
  }
  .item {
    position: relative;
  }
  .item:hover .nav-link,
  .item:focus .nav-link,
  .item:hover .icon,
  .item:focus .icon {
    fill: #2196F3;
    color: #2196F3;
  }
  .nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-ul :not(:last-child) {
    margin-bottom: 40px;
  }
  .contact-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-ul :not(:last-child) {
    margin-bottom: 16px;
  }
  .nav-link.current {
    color: #2196F3;
  }
  .decor::before {
    position: absolute;
    top: 19px;
    left: 2px;
    content: '';
    width: calc(100% - 4px);
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
    opacity: 0;
  }
  .current .decor::before {
    opacity: 1;
  }
}

@media screen and (min-width: 280px) and (max-width: 480px) {
  .main {
    text-align: center;
  }
  .hero-conteiner {
    margin: 0 auto 60px auto;
    max-width: 480px;
    height: 400px;
    background-color: rgba(47, 48, 58, 0.8);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../../../img/mobile-img/header-mobile.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../../../img/mobile-img/header-mobile.jpg");
  }
  .header {
    max-width: 360px;
    color: #ffffff;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  .relative {
    position: relative;
  }
  .absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .absolute .header {
    margin-bottom: 30px;
  }
}

.hidden {
  position: absolute;
  visibility: hidden;
}

@media screen and (min-width: 280px) and (max-width: 480px) {
  .features-section {
    color: #212121;
    font-weight: 700;
    line-height: 1.14;
  }
  .features-conteiner {
    margin: 0 auto 60px auto;
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .features-header {
    margin-bottom: 30px;
    background-color: #ffffff;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: none;
  }
}

@media screen and (min-width: 280px) and (max-width: 480px) {
  .ul .items:not(:last-child) {
    margin-bottom: 30px;
  }
  .features-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 450px;
    height: 120px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #F5F4FA;
  }
  .icon {
    width: 70px;
    height: 70px;
    fill: #AFB1B8;
  }
  .features {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .features-text {
    text-align: left;
    color: #757575;
    font-weight: 400;
    line-height: 1.71;
  }
}

@media screen and (min-width: 280px) and (max-width: 480px) {
  .we-do-section {
    position: absolute;
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 280px) and (max-width: 480px) {
  .absolute.desine-desisions {
    display: none;
    visibility: hidden;
  }
  .team-section {
    color: #212121;
    font-weight: 700;
    line-height: 1.14;
  }
  .team-conteiner {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto 60px auto;
    background-color: #f4f4f8;
  }
  .team-header {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: none;
  }
}

@media screen and (min-width: 280px) and (max-width: 480px) {
  .items-width {
    max-width: 450px;
    padding-bottom: 24px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .photo-margin {
    width: 100%;
    margin-bottom: 30px;
  }
  .team-ul .items .teammate-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
  }
  .teammate-name.section-text {
    margin-bottom: 16px;
    text-align: center;
    font-weight: 400;
    color: #757575;
  }
  .team-ul :not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 280px) and (max-width: 480px) {
  .social-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social-ul :not(:last-child) {
    margin-right: 10px;
    margin-bottom: 0;
  }
  .social-link .icon {
    width: 20px;
    height: 20px;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 44px;
    height: 44px;
    margin-bottom: 0;
    border-radius: 50%;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-link:hover, .social-link:focus,
  .social-link:hover .icon,
  .social-link:focus .icon {
    background-color: #2196F3;
    fill: #ffffff;
  }
  .features.ul {
    margin-bottom: 20px;
  }
  .follow-us-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
  .follow-us-ul :not(:last-child) {
    margin-right: 10px;
  }
  .follow-us-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 44px;
    height: 44px;
    margin-bottom: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .follow-us-link:hover, .follow-us-link:focus {
    background-color: #2196F3;
  }
  .follow-us-link .icon {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }
}

@media screen and (min-width: 280px) and (max-width: 480px) {
  .customers-section {
    color: #212121;
    font-weight: 700;
    line-height: 1.14;
  }
  .customers-conteiner {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto 60px auto;
  }
  .customers-header {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: none;
  }
}

@media screen and (min-width: 280px) and (max-width: 480px) and (max-width: 449px) {
  .customers-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .customers-ul :not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 280px) and (max-width: 480px) and (min-width: 450px) {
  .customers-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .customers-ul :not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 280px) and (max-width: 480px) {
  .customers-link {
    color: #AFB1B8;
    text-decoration: none;
  }
  .customers-link:hover .icon,
  .customers-link:focus .icon {
    color: #2196F3;
    fill: #2196F3;
  }
  .clients-items {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 210px;
    height: 90px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients-items .icon {
    width: 44px;
    height: 49px;
    margin-bottom: 0;
    fill: #AFB1B8;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients-items .icon:hover, .clients-items .icon:focus {
    fill: #2196F3;
    border-color: #2196F3;
  }
  .clients-link:hover, .clients-link:focus {
    fill: #2196F3;
    border-color: #2196F3;
  }
  .tagline.icon {
    width: 40px;
    height: 52px;
  }
  .company.icon {
    width: 41px;
    height: 43px;
  }
  .foster-peters.icon {
    width: 80px;
    height: 42px;
  }
  .brand.icon {
    width: 59px;
    height: 47px;
  }
  .tag-line.icon {
    width: 89px;
    height: 45px;
  }
}

@media screen and (min-width: 280px) and (max-width: 480px) {
  .footer {
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
    color: #ffffff;
    line-height: 1.14;
    background-color: #2F303A;
  }
  .footer-conteiner {
    max-width: 480px;
    height: auto;
    padding: 60px 15px;
    margin: 0 auto 0 auto;
  }
  .footer-header {
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}

@media screen and (min-width: 280px) and (max-width: 480px) {
  .address {
    margin-bottom: 60px;
    text-align: center;
  }
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address-link:hover, .address-link:focus {
  color: #2196F3;
}

@media screen and (min-width: 280px) and (max-width: 480px) {
  .ul.subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ul.subscribe :not(:last-child) {
    margin-bottom: 20px;
  }
  .footer-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .footer-label {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .footer-input {
    width: 100%;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: #2F303A;
    cursor: pointer;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-input:focus {
    outline: none;
    border-color: #2196F3;
  }
  .footer-input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-input:-ms-input-placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-input::-ms-input-placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscribe .icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 280px) {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 165, 0, 0);
    overflow-y: scroll;
    opacity: 1;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .backdrop.is-hidden .modal {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
  .modal {
    position: absolute;
    left: 50%;
    width: calc(100% - 30px);
    height: auto;
    padding: 40px 40px;
    border-radius: 4px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 280px) and (max-width: 337px) {
  .modal {
    top: calc(80% + 93px);
  }
}

@media screen and (min-width: 280px) and (min-width: 338px) and (max-width: 480px) {
  .modal {
    top: calc(60% + 93px);
  }
}

@media screen and (min-width: 280px) {
  .modal-button {
    position: absolute;
    top: 8px;
    left: calc(100% - 38px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #FFFFFF;
  }
  .modal-button .icon {
    width: 11px;
    height: 11px;
    fill: #000000;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-button:hover,
  .modal-button:focus,
  .modal-button:hover .icon,
  .modal-button:focus .icon {
    fill: #2196F3;
    cursor: pointer;
  }
  .modal-content {
    position: relative;
    color: #212121;
  }
  .modal-header {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
  }
  .modal-label {
    display: block;
    margin-bottom: 4px;
    color: #757575;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    cursor: pointer;
  }
  .modal-iput {
    width: 100%;
    height: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 42px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-content .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    fill: #212121;
  }
  .name,
  .phone,
  .email {
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon.name,
  .icon.phone,
  .icon.email {
    top: calc(100% - 39px);
    left: 12px;
  }
  .modal-iput:focus,
  .modal-iput:focus + .name,
  .modal-iput:focus + .phone,
  .modal-iput:focus + .email {
    outline: none;
    border-color: #2196F3;
    fill: #2196F3;
  }
  .modal-comment {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-comment::-webkit-input-placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }
  .modal-comment:-ms-input-placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }
  .modal-comment::-ms-input-placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }
  .modal-comment::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }
  .modal-comment:focus {
    outline: none;
    border-color: #2196F3;
  }
  .modal-checkbox {
    position: relative;
    left: 0;
    width: 16px;
    height: 16px;
    margin: 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    pointer-events: all;
  }
}

@media screen and (min-width: 280px) and (max-width: 303px) {
  .modal-checkbox {
    top: -68px;
  }
}

@media screen and (min-width: 280px) and (min-width: 304px) and (max-width: 342px) {
  .modal-checkbox {
    top: -46px;
  }
}

@media screen and (min-width: 280px) and (min-width: 343px) {
  .modal-checkbox {
    top: -23px;
  }
}

@media screen and (min-width: 280px) {
  .checkbox.modal-label {
    display: inline-block;
    max-width: calc(100% - 28px);
    margin-bottom: 30px;
    margin-left: 8px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
  .icon.square {
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  .square {
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-checkbox:checked ~ .square {
    fill: #2196F3;
    background-image: url(../../img/mobile-img/icon-check.svg);
    background-color: #2196F3;
  }
  .modal-link {
    color: #2196F3;
  }
  .modal-content ~ .button {
    display: inline;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

@media screen and (min-width: 280px) and (max-width: 480px) {
  .portfolio-section {
    color: #212121;
    font-weight: 700;
    line-height: 1.14;
  }
  .portfolio-conteiner {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto 40px auto;
  }
  .portfolio-conteiner.customize {
    margin-bottom: 60px;
  }
  .portfolio-header {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: none;
  }
}

.conteiner.customize {
  margin: 0 auto 34px auto;
  padding: 0 0 16px 0;
}

@media screen and (min-width: 280px) and (max-width: 287px) {
  .portfolio-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio-ul :not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 288px) {
  .portfolio-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 288px) and (max-width: 302px) {
  .portfolio-ul :nth-child(1),
  .portfolio-ul :nth-child(4) {
    margin-right: 8px;
  }
  .portfolio-ul :not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 288px) and (min-width: 303px) and (max-width: 446px) {
  .portfolio-ul :nth-child(1),
  .portfolio-ul :nth-child(3) {
    margin-right: 8px;
  }
  .portfolio-ul :not(:nth-last-child(-n + 1)) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 288px) and (min-width: 447px) and (max-width: 480px) {
  .portfolio-ul :nth-child(1),
  .portfolio-ul :nth-child(2),
  .portfolio-ul :nth-child(4) {
    margin-right: 8px;
  }
  .portfolio-ul :not(:nth-last-child(-n + 2)) {
    margin-bottom: 15px;
  }
}

.portfolio-button {
  min-width: 103px;
  height: 38px;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  background-color: #F5F4FA;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover, .portfolio-button:focus {
  background-color: #2196F3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-item .portfolio-button {
  margin: 0 0;
}

@media screen and (min-width: 280px) and (max-width: 480px) {
  .portfolio .items:not(:last-child) {
    margin-bottom: 30px;
  }
}

.portfolio.items {
  position: relative;
  max-width: 450px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.photo-size {
  width: 100%;
}

.portfolio-link {
  text-decoration: none;
}

.hover-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(102%);
          transform: translateY(102%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.conteiner-portfolio {
  padding: 20px 24px;
  text-align: left;
}

.portfolio-header {
  margin-bottom: 4px;
  text-align: left;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.00;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

.techno-crak,
.new-orlean,
.seafood,
.prime,
.boxes,
.inspiration,
.limited-edition,
.lab,
.growing-business {
  position: relative;
  overflow: hidden;
}

.techno-crak:hover .hover-block,
.new-orlean:hover .hover-block,
.seafood:hover .hover-block,
.prime:hover .hover-block,
.boxes:hover .hover-block,
.inspiration:hover .hover-block,
.limited-edition:hover .hover-block,
.lab:hover .hover-block,
.growing-business:hover .hover-block,
.portfolio-link:hover .hover-block,
.techno-crak:focus .hover-block,
.new-orlean:focus .hover-block,
.seafood:focus .hover-block,
.prime:focus .hover-block,
.boxes:focus .hover-block,
.inspiration:focus .hover-block,
.limited-edition:focus .hover-block,
.lab:focus .hover-block,
.growing-business:focus .hover-block,
.portfolio-link:focus .hover-block {
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .header-conteiner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 80px;
    padding: 21px 15px;
    border-bottom: 1px solid #ECECEC;
    margin: 0 auto 0 auto;
  }
  .header-conteiner.portfolio-page {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .icon-menu,
  .menu-icon,
  .cross-icon,
  .menu-button {
    position: absolute;
    display: none;
    pointer-events: none;
  }
  .menu-modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #ffffff;
  }
  .contact .icon {
    width: 14px;
    height: 10px;
    margin-right: 8px;
    fill: #AFB1B8;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-phone.icon {
    width: 10px;
    height: 14px;
  }
  .nav {
    margin-right: 84px;
  }
  .nav, .nav-link {
    color: #212121;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #757575;
    font-size: 12px;
    line-height: 1.17;
  }
  .item {
    position: relative;
  }
  .item:hover .nav-link,
  .item:focus .nav-link,
  .item:hover .icon,
  .item:focus .icon {
    fill: #2196F3;
    color: #2196F3;
  }
  .nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-ul :not(:last-child) {
    margin-right: 50px;
  }
  .contact-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-ul :not(:last-child) {
    margin-bottom: 10px;
  }
  .nav-link.current {
    color: #2196F3;
  }
  .decor::before {
    position: absolute;
    top: calc(100% + 28px);
    left: 2px;
    content: '';
    width: calc(100% - 4px);
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
    opacity: 0;
  }
  .current .decor::before {
    opacity: 1;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .main {
    text-align: center;
  }
  .hero-conteiner {
    margin: 0 auto 60px auto;
    max-width: 768px;
    height: 400px;
    background-color: rgba(47, 48, 58, 0.8);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../../../img/tablet/header-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../../../img/tablet/header-tablet.jpg");
  }
  .header {
    max-width: 360px;
    color: #ffffff;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  .relative {
    position: relative;
  }
  .absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .absolute .header {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .features-section {
    color: #212121;
    font-weight: 700;
    line-height: 1.14;
  }
  .features-conteiner {
    margin: 0 auto 60px auto;
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .features-header {
    margin-bottom: 30px;
    background-color: #ffffff;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .features-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .features-ul .items:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
  .features-ul .items:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .features-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 354px;
    height: 120px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #F5F4FA;
  }
  .icon {
    width: 70px;
    height: 70px;
    fill: #AFB1B8;
  }
  .features {
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .features-text {
    max-width: 354px;
    text-align: left;
    color: #757575;
    font-weight: 400;
    line-height: 1.71;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .we-do-section {
    position: absolute;
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .absolute.desine-desisions {
    display: none;
    visibility: hidden;
  }
  .team-section {
    color: #212121;
    font-weight: 700;
    line-height: 1.14;
  }
  .team-conteiner {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto 60px auto;
    background-color: #f4f4f8;
  }
  .team-header {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .team-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team-ul :nth-child(2n + 1) {
    margin-right: 30px;
  }
  .team-ul :nth-child(-n + 2) {
    margin-bottom: 30px;
  }
  .items-width {
    max-width: 354px;
    padding-bottom: 24px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .photo-margin {
    width: 100%;
    margin-bottom: 30px;
  }
  .team-ul .items .teammate-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
  }
  .teammate-name.section-text {
    margin-bottom: 16px;
    text-align: center;
    font-weight: 400;
    color: #757575;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .social-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social-ul :not(:last-child) {
    margin-right: 10px;
    margin-bottom: 0;
  }
  .social-link .icon {
    width: 20px;
    height: 20px;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 44px;
    height: 44px;
    margin-bottom: 0;
    border-radius: 50%;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-link:hover, .social-link:focus,
  .social-link:hover .icon,
  .social-link:focus .icon {
    background-color: #2196F3;
    fill: #ffffff;
  }
  .features.ul {
    margin-bottom: 20px;
  }
  .follow-us-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
  .follow-us-ul :not(:last-child) {
    margin-right: 10px;
  }
  .follow-us-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 44px;
    height: 44px;
    margin-bottom: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .follow-us-link:hover, .follow-us-link:focus {
    background-color: #2196F3;
  }
  .follow-us-link .icon {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .customers-section {
    color: #212121;
    font-weight: 700;
    line-height: 1.14;
  }
  .customers-conteiner {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto 60px auto;
  }
  .customers-header {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .customers-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .customers-ul :nth-child(-n + 3) {
    margin-bottom: 30px;
  }
  .customers-ul :nth-child(-n + 2) {
    margin-right: 30px;
  }
  .customers-ul :nth-child(4),
  .customers-ul :nth-child(5) {
    margin-right: 30px;
  }
  .customers-items {
    display: block;
    width: 208px;
    height: 88px;
  }
  .customers-link {
    color: #AFB1B8;
    text-decoration: none;
  }
  .customers-link:hover .icon,
  .customers-link:focus .icon {
    color: #2196F3;
    fill: #2196F3;
  }
  .clients-items {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 210px;
    height: 90px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients-items .icon {
    width: 44px;
    height: 49px;
    margin-bottom: 0;
    fill: #AFB1B8;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients-items .icon:hover, .clients-items .icon:focus {
    fill: #2196F3;
    border-color: #2196F3;
  }
  .clients-link:hover, .clients-link:focus {
    fill: #2196F3;
    border-color: #2196F3;
  }
  .tagline.icon {
    width: 40px;
    height: 52px;
  }
  .company.icon {
    width: 41px;
    height: 43px;
  }
  .foster-peters.icon {
    width: 80px;
    height: 42px;
  }
  .brand.icon {
    width: 59px;
    height: 47px;
  }
  .tag-line.icon {
    width: 89px;
    height: 45px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
    color: #ffffff;
    line-height: 1.14;
    background-color: #2F303A;
  }
  .footer-conteiner {
    max-width: 768px;
    height: auto;
    padding: 60px 15px;
    margin: 0 auto 0 auto;
  }
  .footer-header {
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .address {
    margin-bottom: 60px;
  }
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address-link:hover, .address-link:focus {
  color: #2196F3;
}

.ul.address {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-right: 165px;
}

.ul.follow-us {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .ul.subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ul.subscribe :not(:last-child) {
    margin-bottom: 20px;
  }
  .footer-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 450px;
  }
  .footer-label {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .footer-input {
    width: 100%;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: #2F303A;
    cursor: pointer;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-input:focus {
    outline: none;
    border-color: #2196F3;
  }
  .footer-input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-input:-ms-input-placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-input::-ms-input-placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscribe .icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .portfolio-section {
    color: #212121;
    font-weight: 700;
    line-height: 1.14;
  }
  .portfolio-conteiner {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto 40px auto;
  }
  .portfolio-conteiner.customize {
    margin-bottom: 60px;
  }
  .portfolio-header {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: none;
  }
}
/*# sourceMappingURL=main.css.map */