@media screen and (min-width: 280px) and (max-width: 480px) {
    // regular customers logos
    @media screen and (max-width: 449px) {
        .customers-ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            & :not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
    @media screen and (min-width: 450px) {
        .customers-ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            & :not(:nth-last-child(-n + 2)) {
                margin-bottom: 30px;
            }
        }
    }
    .customers-link {
        color: #AFB1B8;
        text-decoration: none;
        &:hover .icon,
        &:focus .icon {
            color: $primary-page-color;
            fill: $primary-page-color;
        }
    }
    .clients-items {
        display: inline-flex;
        width: 210px;
        height: 90px;
        align-items: center;
        justify-content: center;
        border: 1px solid #AFB1B8;
        border-radius: 4px;

        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .clients-items .icon {
        width: 44px;
        height: 49px;
        margin-bottom: 0;

        fill: #AFB1B8;
    
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            fill: $primary-page-color;
            border-color: $primary-page-color;
        }
    }
    .clients-link {
        &:hover,
        &:focus {
            fill: $primary-page-color;
            border-color: $primary-page-color;
        }
    }
    .tagline.icon {
        width: 40px;
        height: 52px;
    }
    .company.icon {
        width: 41px;
        height: 43px;
    }
    .foster-peters.icon {
        width: 80px;
        height: 42px;
    }
    .brand.icon {
        width: 59px;
        height: 47px;
    }
    .tag-line.icon {
        width: 89px;
        height: 45px;
    }
}