.logo {
    display: block;
    margin-right: calc(100% - 204px);
    color: $primary-page-color;
    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo .header-logo {
    color: $primary-text-color;
}
.footer-logo {
    @media screen and (min-width: 280px) and (max-width: 480px) {
        display: block;
        text-align: center;
        margin-right: 0;
        margin-bottom: 20px;
    }
    color: $primary-page-color;
    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.footer-logo .white {
    color: $secondary-page-color;
}