@media screen and (min-width: 280px) and (max-width: 480px) {
    // menu styles
    .icon-menu {
        max-width: 24px;
        max-height: 16px;

        fill: #000000;
    }
    .cross-icon {
        width: 19px;
        height: 19px;
    }
    .menu-button .icon-menu {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .menu-button:hover .icon-menu,
    .menu-button:focus .icon-menu {
        fill: $primary-page-color;
    }
    .menu-button .cross-icon {
        display: none;
    }
    .menu-button.is-open .cross-icon {
        display: block;
    }
    .menu-button.is-open .menu-icon {
        display: none;
    }
    // modal window for menu
    .menu-modal {
        position: absolute;
        top: 394%;
        left: 50%;
    
        width: 100%;
        padding: 60px 0;
        border-radius: 0;
        background-color: $secondary-page-color;
        
        z-index: 2;
        opacity: 0;
        pointer-events: none;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
        transform: translate(-50%, -50%) scale(1);
    }
    .menu-modal.is-open {
        opacity: 1;
        pointer-events: all;
    }
    .contact .icon {
        width: 16px;
        height: 11px;
        margin-right: 10px;
    
        fill: #AFB1B8;
    
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .header-phone.icon {
        width: 10px;
        height: 15px;
    }
    .nav {
        margin-bottom: 60px;
    }
    .nav, .nav-link {
        color: $primary-text-color;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
    
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .nav-link.contact {
        display: flex;
        align-items: center;
        color: #757575;
    }
    .item {
        position: relative;
        &:hover .nav-link,
        &:focus .nav-link,
        &:hover .icon,
        &:focus .icon {
            fill: $primary-page-color;
            color: $primary-page-color;
        }
    }
    .nav-ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & :not(:last-child) {
            margin-bottom: 40px;
        }
    }
    .contact-ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & :not(:last-child) {
            margin-bottom: 16px;
        }
    }
    .nav-link.current {
        color: $primary-page-color;
    }
    .decor {
        &::before {
            position: absolute;
            top: 19px;
            left: 2px;
            content: '';
            width: calc(100% - 4px);
            height: 4px;
            border-radius: 2px;
            background-color: $primary-page-color;
            opacity: 0;
        }
        
    }
    .current .decor::before {
        opacity: 1;
    }
}