@media screen and (min-width: 280px) {
    .social-ul {
        display: flex;
        align-items: center;
        justify-content: center;
        & :not(:last-child) {
            margin-right: 10px;
            margin-bottom: 0;
        }
    }
    .social-link .icon {
        width: 20px;
        height: 20px;
    
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .social-link {
        display: flex;
        align-items: center;
        justify-content: center;
    
        width: 44px;
        height: 44px;
        margin-bottom: 0;
        border-radius: 50%;
    
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus,
        &:hover .icon,
        &:focus .icon {
            background-color: $primary-page-color;
            fill: $secondary-page-color;
        }
    }
    .features.ul {
        margin-bottom: 20px;
    }
    .follow-us-ul {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
        & :not(:last-child) {
            margin-right: 10px;
        }
    }
    .follow-us-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        margin-bottom: 0;
        border-radius: 50%;
    
        background-color: rgba(255, 255, 255, 0.1);
    
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            background-color: $primary-page-color;
        }
    }
    .follow-us-link .icon {
        width: 20px;
        height: 20px;
        fill: $secondary-page-color;
    }
}