@media screen and (min-width: 768px) and (max-width: 768px) {
    // features card
    .features-ul {
        display: flex;
        flex-wrap: wrap;
    }
    .features-ul .items {
        &:nth-child(-n + 2) {
            margin-bottom: 30px;
        }
        &:nth-child(2n + 1) {
            margin-right: 30px;
        }
    }
    .features-items {
        display: flex;
        max-width: 354px;
        height: 120px;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        border-radius: 4px;

        background-color: #F5F4FA;
    }
    .icon {
        width: 70px;
        height: 70px;

        fill: #AFB1B8;
    }
    .features {
        text-align: left;
        text-transform: uppercase;

        margin-bottom: 10px;
    }
    .features-text {
        max-width: 354px;
        text-align: left;
        color: #757575;
        font-weight: 400;
        line-height: 1.71;
    }
}