.address {
    @media screen and (min-width: 280px) and (max-width: 1499px) {
        margin-bottom: 60px;
        text-align: center;
    }
    @media screen and (min-width: 1500px) and (max-width: 1600px) {
        text-align: left;
    }
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.address-link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.address-link:hover, .address-link:focus {
    color: $primary-page-color;
}
@media screen and (min-width: 768px) {
    .ul.address {
        @media screen and (max-width: 1499px) {
            display: inline-flex;
        }
        @media screen and (min-width: 1500px) and (max-width: 1600px) {
            display: flex;
        }
        flex-direction: column;
        @media screen and (max-width: 1499px) {
            align-items: center;
        }
        @media screen and (min-width: 1500px) and (max-width: 1600px) {
            align-items: flex-start;
        }
        @media screen and (max-width: 1499px) {
            margin-right: 165px;
        }
    }
    .ul.follow-us {
        @media screen and (max-width: 1499px) {
            display: inline-flex;
        }
        @media screen and (min-width: 1500px) and (max-width: 1600px) {
            display: flex;
        }
        flex-direction: column;
        @media screen and (max-width: 1499px) {
            align-items: center;
        }
        @media screen and (min-width: 1500px) and (max-width: 1600px) {
            align-items: flex-start;
        }
    }
}