@media screen and (min-width: 280px) {
    // features card
    @media screen and (max-width: 767px) {
        .features-ul .items:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width: 768px) {
        .features-ul {
            display: flex;
            @media screen and (max-width: 1499px) {
                flex-wrap: wrap;
            }
        }
        .features-ul .items {
            @media screen and (max-width: 1499px) {
                &:nth-child(-n + 2) {
                    margin-bottom: 30px;
                }
                &:nth-child(2n + 1) {
                    margin-right: 30px;
                }
            }
            @media screen and (min-width: 1500px) and (max-width: 1600px) {
                &:not(:last-child) {
                    margin-right: 30px;
                }
            }
        }
    }
    .features-items {
        display: flex;
        @media screen and (max-width: 767px) {
            max-width: 450px;
        }
        @media screen and (min-width: 768px) and (max-width: 1499px) {
            max-width: 354px;
        }
        @media screen and (min-width: 1500px) and (max-width: 1600px) {
            max-width: 270px;
        }
        height: 120px;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        border-radius: 4px;

        background-color: #F5F4FA;
    }
    .icon {
        width: 70px;
        height: 70px;

        fill: #AFB1B8;
    }
    .features {
        @media screen and (max-width: 767px) {
            text-align: center;
        }
        @media screen and (min-width: 768px) and (max-width: 1600px) {
            text-align: left;
        }
        text-transform: uppercase;

        margin-bottom: 10px;
    }
    .features-text {
        @media screen and (min-width: 768px) and (max-width: 1499px) {
            max-width: 354px;
        }
        @media screen and (min-width: 1500px) and (max-width: 1600px) {
            max-width: 270px;
        }
        text-align: left;
        color: #757575;
        font-weight: 400;
        line-height: 1.71;
    }
}