.logo {
    display: block;
    @media screen and (min-width: 481px) and (max-width: 1499px) {
        margin-right: 88px;
    }
    @media screen and (min-width: 1500px) and (max-width: 1600px) {
        margin-right: 93px;
    }
    color: $primary-page-color;
    font-family: Raleway;
    font-weight: 700;
    @media screen and (min-width: 280px) and (max-width: 1499px) {
        font-size: 24px;
        line-height: 1.17;
    }
    @media screen and (min-width: 1500px) and (max-width: 1600px) {
        font-size: 26px;
        line-height: 1.19;
    }
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo .header-logo {
    color: $primary-text-color;
}
.footer-logo {
    @media screen and (min-width: 280px) and (max-width: 767px) {
        display: block;
        text-align: center;
        margin-right: 0;
    }
    margin-bottom: 20px;
    color: $primary-page-color;
    font-family: Raleway;
    font-weight: 700;
    @media screen and (min-width: 280px) and (max-width: 1499px) {
        font-size: 24px;
        line-height: 1.17;
    }
    @media screen and (min-width: 1500px) and (max-width: 1600px) {
        font-size: 26px;
        line-height: 1.19;
    }
    letter-spacing: 0.03em;
    text-decoration: none;
}
.footer-logo .white {
    color: $secondary-page-color;
}