// portfolio card
.portfolio .items {
    @media screen and (min-width: 280px) and (max-width: 1600px) {
        & :not(:last-child) {
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1499px) {
        &:nth-child(2n + 1) {
            margin-right: 30px;
        }
    }
    @media screen and (min-width: 1500px) and (max-width: 1600px) {
        &:not(:last-child) {
            margin-right: 30px;
        }
        &:nth-child(3n) {
            margin-right: 0;
        }
        &:nth-last-child(-n + 3) {
            margin-bottom: 0;
        }
    }
}
.portfolio.items {
    position: relative;
    @media screen and (min-width: 280px) and (max-width: 767px) {
        max-width: 450px;
    }
    @media screen and (min-width: 768px) and (max-width: 1499px) {
        max-width: 354px;
    }
    @media screen and (min-width: 1500px) and (max-width: 1600px) {
        max-width: 370px;
    }

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.photo-size {
    @media screen and (min-width: 280px) and (max-width: 767px) {
        width: 100%;
    }
    @media screen and (min-width: 768px) and (max-width: 1499px) {
        width: 354px;
    }
    @media screen and (min-width: 1500px) and (max-width: 1600px) {
        width: 370px;
    }
}
@media screen and (min-width: 768px) {
    .ul.portfolio {
        display: flex;
        @media screen and (min-width: 1500px) and (max-width: 1600px) {
            align-items: center;
            justify-content: center;
        }
        flex-wrap: wrap;
    }
}
.portfolio-link {
    text-decoration: none;
}
.hover-block {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 77px 24px;

    color: $secondary-text-color;
    font-size: 18px;
    line-height: 1.56;
    text-align: left;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(102%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.conteiner-portfolio {
    padding: 20px 24px;
    text-align: left;
}
@media screen and (min-width: 280px) and (max-width: 1600px) {
    .portfolio-header {
        margin-bottom: 4px;
        text-align: left;
        color: $primary-text-color;
        font-weight: 700;
        font-size: 18px;
        line-height: 2.00;
        letter-spacing: 0.06em;
    }
}
.portfolio-text {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}
.techno-crak,
.new-orlean,
.seafood,
.prime,
.boxes,
.inspiration,
.limited-edition,
.lab,
.growing-business {
    position: relative;
    overflow: hidden;
}
.techno-crak:hover .hover-block,
.new-orlean:hover .hover-block,
.seafood:hover .hover-block,
.prime:hover .hover-block,
.boxes:hover .hover-block,
.inspiration:hover .hover-block,
.limited-edition:hover .hover-block,
.lab:hover .hover-block,
.growing-business:hover .hover-block,
.portfolio-link:hover .hover-block,
.techno-crak:focus .hover-block,
.new-orlean:focus .hover-block,
.seafood:focus .hover-block,
.prime:focus .hover-block,
.boxes:focus .hover-block,
.inspiration:focus .hover-block,
.limited-edition:focus .hover-block,
.lab:focus .hover-block,
.growing-business:focus .hover-block,
.portfolio-link:focus .hover-block {
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(0);
}