.hidden {
    position: absolute;
    visibility: hidden;
}
@media screen and (min-width: 280px) and (max-width: 767px) {
    // features section
    .features-section {
        color: #212121;
        font-weight: 700;
        line-height: 1.14;
    }
    .features-conteiner {
        margin: 0 auto 60px auto;
        max-width: 480px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .features-header {
        margin-bottom: 30px;

        background-color: $secondary-page-color;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: none;
    }
}