@media screen and (min-width: 280px) and (max-width: 767px) {
    .footer {
        max-width: 480px;
        margin-right: auto;
        margin-left: auto;
        color: #ffffff;
        line-height: 1.14;
        background-color: #2F303A;
    }
    .footer-conteiner {
        max-width: 480px;
        height: auto;
        padding: 60px 15px;
        margin: 0 auto 0 auto;
    }
    .footer-header {
        font-size: 28px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: $secondary-page-color;
    }
}