@media screen and (min-width: 1500px) and (max-width: 1600px) {
    .portfolio.items {
        max-width: 370px;
    }
    .portfolio .items {
        margin-bottom: 30px;
        &:not(:last-child) {
            margin-right: 30px;
        }
        &:nth-child(3n) {
            margin-right: 0;
        }
        &:nth-last-child(-n + 3) {
            margin-bottom: 0;
        }
    }
    .photo-size {
        width: 370px;
    }
    .ul.portfolio {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .portfolio-header {
        margin-bottom: 4px;
        text-align: left;
        color: $primary-text-color;
        font-weight: 700;
        font-size: 18px;
        line-height: 2.00;
        letter-spacing: 0.06em;
    }
}